div.spelfabet_cody_uploads{
    h1{
        margin-bottom: 2em;
    }
    ul.vertical>li {
        display: block;
        margin-bottom: 1em;
    }
    table.bordered{
        margin-top: 3em;
        td{
            border-collapse: collapse;
            border: black 1px solid;
            margin: 0;
        }
    }
}
